// Repeater control styles

.repeater-control {
	width: 100%;
}

.repeater-control__label {
	display: block;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #757575;
	margin-bottom: 8px;
}

.repeater-control__input {
	flex-grow: 1;

	.components-text-control__input {
		font-size: 13px;
	}
}

.repeater-control__remove,
.repeater-control__add {
	flex-shrink: 0;

	&:hover {
		color: var(--wp-admin-theme-color, #3858e9);
	}
}

.repeater-control__remove {
	&:hover {
		color: #cc1818;
	}
}
